body {
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: "Sofia Sans Semi Condensed", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.outer-container {
	width: 80%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	border-radius: 8px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* Center elements horizontally */
	background-color: cadetblue;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* Center elements horizontally */
	width: 100%;
	background-color: antiquewhite;

}

.row-city {
	display: flex;
	align-items: center;
	/* Center items vertically */
	justify-content: center;
	/* Center items horizontally */
	width: 100%;
	margin: 20px 0;
	gap: 20px;
	/* Small gap between city and date/time */

}

.city-name,
.date-time {
	background-color: #e0e0e0;
	padding: 10px;
	border-radius: 4px;
	white-space: nowrap;
	/* Keep text in one line */
	text-align: center;
	/* Center text inside each box */
	flex-shrink: 0;
	/* Prevent shrinking on small screens */
	min-width: fit-content;
	max-width: fit-content;
}

.row-dropdown {
	margin-bottom: 20px;
	padding: 10px;
	width: 200px;
	background-color: #e0e0e0;
	font-family: "Sofia Sans Semi Condensed", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

footer {
	text-align: center;
	margin-top: 20px;
}

@media (max-width: 480px) {
	.row-city {
		flex-direction: column;
		align-items: center;
	}

	.city-name,
	.date-time {
		width: 100%;
		text-align: center;
		/* Center text for better readability */
	}
}